@model IEnumerable<BasketViewModel>
@{
    decimal total = 0M;
}
    <li>
        <button type="button" class="cart_btn">
            <i class="fal fa-shopping-bag"></i>
            <small class="cart_counter">@Model.Count()</small>
        </button>
    </li>
<div class="sidebar-menu-wrapper">
    <div class="cart_sidebar">
        <button type="button" class="close_btn"><i class="fal fa-times"></i></button>
        <h2 class="heading_title text-uppercase">Cart Items - <span>@Model.Count()</span></h2>


        <div class="cart_items_list">
            @foreach (var item in Model)
            {
                <a asp-controller="products" asp-action="index" asp-route-id="@item.Product.Id"></a>
                <div class="cart_item cartitem">
                    
                        <div class="item_image">
                            <img src="/uploads/@item.Product.Image" width="50" height="50" alt="image_not_found">
                        </div>
                        <div class="item_content">
                            <h4 class="item_title">
                                @item.Count <i class="fal fa-times"></i>
                                @item.Product.Name
                            </h4>
                            <span class="item_price">$@item.Product.Price</span>

                            <span>
                                <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Id" class="action remove-header-basket-item">
                                    <button type="button" class="remove_btn">
                                        <i class="fal fa-times"></i>
                                    </button>
                                </a>
                            </span>
                        </div>
                    
                </div>

                decimal Price = item.Product.Price;
                total += (Price * item.Count);

            }
        </div>

            <div class="total_price text-uppercase">
                <span>Sub Total:</span>
                <span class="span-price">$@total.ToString("#.00")</span>
            </div>

            <ul class="btns_group ul_li">
                <li><a asp-controller="cart" asp-action="index" class="btn btn_primary text-uppercase">View Cart</a></li>
                <li><a asp-controller="page" asp-action="checkout" class="btn btn_border border_black text-uppercase">Checkout</a></li>
            </ul>
        </div>
    <div class="cart_sidebar_overlay"></div>
</div>